<ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
           <li role="presentation"><a href="@Url.Action("SearchJob", "Job", new { location = "Bangalore" })">Jobs in Bangalore</a></li>
           <li role="presentation"><a href="@Url.Action("SearchJob", "Job", new { location = "Mumbai" })">Jobs in Mumbai</a></li>
           <li role="presentation"><a href="@Url.Action("SearchJob", "Job", new { location = "Delhi" })">Jobs in Delhi</a></li>
           <li role="presentation"><a href="@Url.Action("SearchJob", "Job", new { location = "Hyderabad" })">Jobs in Hyderabad</a></li>
           <li role="presentation"><a href="@Url.Action("SearchJob", "Job", new { location = "Pune" })">Jobs in Pune</a></li>
           <li role="presentation"><a href="@Url.Action("SearchJob", "Job", new { location = "Gurgaon" })">Jobs in Gurgaon</a></li>
           <li role="presentation"><a href="@Url.Action("SearchJob", "Job", new { location = "Chennai" })">Jobs in Chennai</a></li>
           <li role="presentation"><a href="@Url.Action("SearchJob", "Job", new { location = "Kolkata" })">Jobs in Kolkata</a></li>
        </ul>