@{
    ViewBag.Title = "Offcampus4u : " + @Model.jobTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="bs-docs-masthead-other" style="width: 80%; margin: 0 auto;">
 <div>
     <form class="navbar-form " role="search" method="post" action="/Job/SearchJob">
        <div class="form-group">
            <input id="skiilsdesignationcompany" name="skiilsdesignationcompany" type="text" class="form-control" placeholder="Skills, Designation, Company" style="width:300px;">
        </div>
        <div class="form-group">
            <input id="location" name="location" type="text" class="form-control" placeholder="Location">
        </div>
        <div class="form-group">
            <select id="jobMinExp" name="jobMinExp" class="form-control" style="width:80px;">
                <option value="0">0 yr.</option>
                <option value="1">1 yr.</option>
                <option value="2">2 yrs.</option>
                <option value="3">3 yrs.</option>
                <option value="4">4 yrs.</option>
                <option value="5">5 yrs.</option>
                <option value="6">6 yrs.</option>
                <option value="7">7 yrs.</option>
                <option value="8">8 yrs.</option>
            </select>
       </div>
         <div class="form-group">
             <select id="jobMinSalary" name="jobMinSalary" class="form-control" style="width:90px;" placeholder="Salary">
                <option value="0">0 LPA</option>
                <option value="100000">1 LPA</option>
                <option value="200000">2 LPA</option>
                <option value="300000">3 LPA</option>
                <option value="400000">4 LPA</option>
                <option value="500000">5 LPA</option>
                <option value="600000">6 LPA</option>
                <option value="700000">7 LPA</option>
                <option value="800000">8 LPA</option>
               </select>
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
       </form>
 </div>
     <div class="panel panel-default"  style="width:20%;margin:0 auto;text-align:left;float:left;">
         <div class="panel-heading">
            <h3 class="panel-title"><b>Jobs by Location</b></h3>
          </div>
       <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
           <li role="presentation"><a href="@Url.Action("SearchJobCustom", "Job", new { location = "Bangalore" })">Jobs in Bangalore</a></li>
           <li role="presentation"><a href="@Url.Action("SearchJobCustom", "Job", new { location = "Mumbai" })">Jobs in Mumbai</a></li>
           <li role="presentation"><a href="@Url.Action("SearchJobCustom", "Job", new { location = "Delhi" })">Jobs in Delhi</a></li>
           <li role="presentation"><a href="@Url.Action("SearchJobCustom", "Job", new { location = "Hyderabad" })">Jobs in Hyderabad</a></li>
           <li role="presentation"><a href="@Url.Action("SearchJobCustom", "Job", new { location = "Pune" })">Jobs in Pune</a></li>
           <li role="presentation"><a href="@Url.Action("SearchJobCustom", "Job", new { location = "Gurgoan" })">Jobs in Gurgoan</a></li>
           <li role="presentation"><a href="@Url.Action("SearchJobCustom", "Job", new { location = "Chennai" })">Jobs in Chennai</a></li>
           <li role="presentation"><a href="@Url.Action("SearchJobCustom", "Job", new { location = "Kolkata" })">Jobs in Kolkata</a></li>
        </ul>
        
    </div>
    <div class="panel panel-default"  style="width:78%;margin:0 auto;text-align:left;float:right;">
    <div class="well" style="line-height: 1.42857143;">
        <a href="@Url.Action("Detail", "Job")" style="line-height: 1.42857143;">
            <h3>@Model.jobTitle</h3></a>
            @Model.jobCompnayName <br />
        <div class="color-light pull-left" style="margin-right:10%;line-height: 1.42857143;">
            <span class="glyphicon glyphicon-briefcase" aria-hidden="true" style="line-height: 1.42857143;"></span>&nbsp;&nbsp;
                <span>@Model.jobMinExp</span><span> - </span><span>@Model.jobMaxExp</span><span> yrs.</span>
                        
        </div>
        <div class="color-light" style="line-height: 1.42857143;">
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="line-height: 1.42857143;">

            </span>&nbsp;&nbsp;@Model.jobLocation
        </div>
        <div class="salary">
            <em></em>&nbsp;&nbsp;
            @if(Model.jobDisclosed){
           <span> 4,00,000 - 5,00,000 PA</span>
            }else{
              <span>Not Disclosed</span>
            }
        </div><br />
        @if (Model.jobApplyModeIsEmail)
        {
        <button class="btn btn-primary">Apply</button>
        }
        else
        {
            <a target="_blank" class="btn btn-primary" href="@Model.jobApplyMode">Click here to Apply</a>
        }
         <div class="pull-right">
            
         
	<a class="btn btn-primary" href="https://www.facebook.com/sharer/sharer.php?u=&t=" target="_blank" title="Share on Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;">Share on Facebook</a>
	<a class="btn btn-info" href="https://twitter.com/intent/tweet?source=&text=:%20&via=Offcampus4u" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;">Share on Twitter</a>
	<a class="btn btn-warning" href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source=" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;">Share on LinkedIn</a>

        </div>
    </div>  
    
    <div class="well" style="line-height: 1.42857143;">
       <div style="line-height: 2.42857143;"><b>Job Description</b></div>
        <div style="width:100%;">
            @Html.Raw(Model.jobDescription)
        </div>
        <div style="clear:both;"></div>
     </div>
    <div class="well" style="line-height: 1.42857143;">
        <div style="line-height: 2.42857143;"><b>KeySkills</b></div>
        <div style="font-size:20px;">
            @{
                string[] KeySkills = Model.jobKeyword.Split(',');
                foreach (string KeySkill in KeySkills)
                {
                    <span class="label label-default">@KeySkill</span>
                }
            }
           
        </div>
        <div style="clear:both;"></div>
     </div>
    <div class="well" style="line-height: 1.42857143;">
        <div style="line-height: 2.42857143;"><b>Company Profile</b></div>
        <div style="line-height: 1.82857143;">Name : <b>@Model.jobCompnayName</b></div>
        <div style="line-height: 1.82857143;">@Model.jobCompanyInfo</div>
    </div>    
 <div class="well" style="line-height: 1.42857143;">
       
         @if (Model.jobApplyModeIsEmail)
         {
        <button class="btn btn-primary">Apply</button>
         }
         else
         {
            <a target="_blank" class="btn btn-primary" href="@Model.jobApplyMode">Click here to Apply</a>
         }
    </div>  
       </div>
    <div style="clear:both;"></div>
    
</main>
